* {
    margin: 2px;
    padding: 0;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: sticky;
    top: 0;
    cursor: pointer;
}

.background {
    background: black;
    background-blend-mode: darken;
    background-size: cover;
}

.nav-list {
    width: 70%;
    display: flex;
    align-items: center;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo img {
    width: 180px;
    border-radius: 50px;
}

.nav-list li {
    list-style: none;
    padding: 26px 30px;
}

.nav-list li a {
    text-decoration: none;
    color: white;
}

.nav-list li a:hover {
    color: grey;
}

.rightnav {
    width: 30%;
    text-align: right;
}


.btn {
    padding: 8px 20px;
    margin: 7px 0;
    border: 2px solid white;
    border-radius: 8px;
    background: none;
    color: white;
    cursor: pointer;
}
.btn1 {
    padding: 6px 10px;
    vertical-align: middle;
}


.firstsection {
 
    height: 400px;
    background-image: url(photos/himalaye.jpg);
}

.secondsection {
    background-color: rgb(122, 122, 255);
    
  background-image: url(photos/hi.jpg);
  background-size: cover;
  width: 1400px;
  height:800px;
}

.box-main {
    display: flex;
    justify-content: center;
    align-items: center;
    color: rgb(0, 4, 212);
    max-width: 80%;
    margin: auto;
    height: 80%;
}

.first {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.second {
    width: 30%;
}

.text-big {
    font-family: 'Piazzolla', serif;
    font-weight: bold;
    font-size: 35px;
    color: white;
}

.smalltext {
    font-size: 18px;
}

.section {
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 90%;
    margin: auto;
}

.section-Left {
    flex-direction: row-reverse;
}

.college{
    padding: 0px 65px;
}

.image {
    width: 0px;
    border: 2px solid black;
    border-radius: 26px;
    margin-top: 19px;
}

.center {
    text-align: center;
}
/*ABOUT CSS*/
.message{
    margin: 10px;
    padding: 10px;
}
.msg{
    margin: 10px;
    padding: 10px;

}
/*
Gallery
*/



#gallery{
    text-align: center;
   font-size: 30px;

}



.footer {
    text-align: center;
    padding: 30px 0;
    font-family: 'Ubuntu', sans-serif;
    display: flex;
    justify-content: center;
    color: white;
}